.url-response {
    border-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: rgb(82, 139, 160);
}

.response {
    color: rgb(156, 217, 65);
}